/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-content {
  width: 20%;
  display: flex;
  flex-direction: column; /* Stack items vertically 
  justify-content: center; /* Center vertically /
  align-items: center; /* Center horizontally 
  height: calc(100vh - 80px); /* Adjust for navbar height 
  text-align: center;  Center text 
} 
